<!DOCTYPE html>
<html lang="en">

<head>
  <title>Image Resizer</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"> -->
  <link rel="stylesheet" href="./styling/global.css">
</head>

<body className="w-screen h-screen">
  <div className="h-full w-full bg-gray-800 text-gray-200 flex items-center justify-center text-5xl">Hello world</div>
</body>

</html>