<!DOCTYPE html>
<html lang="en">

<head>
  <title>Image Resize</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'">

  <link rel="stylesheet" href="./styling/global.css">
  <script src="../controller/winScripts/index.js" defer></script>
</head>

<body class="w-screen h-screen">
  <!-- close bar -->
  <div class="z-40 flex fixed w-full top-0 left-0 bg-gray-900 drag-region">
    <div class="flex-grow-[4] flex items-center pl-4">
      <img src="../../assets/icons/Icon_32x32.png" alt="logo" />
      <p class="text-3xl text-blue-300 pl-2">Image Resizer</p>
    </div>
    <div class="flex-grow-[1] flex justify-end">
      <button id="minimize-app" class="w-[60px] h-[50px] no-drag-region text-gray-100 text-3xl flex items-center justify-center hover:bg-gray-700/30" title="minimize app">-</button>
      <button id="close-app" class="w-[60px] h-[50px] no-drag-region text-gray-100 text-xl flex items-center justify-center hover:bg-red-700/70" title="close app">X</button>
    </div>
  </div>

  
  <div class="h-full w-full bg-gray-800 text-gray-200 flex flex-col items-center justify-center">
    <label id="bg-image" for="img" class="w-[80%] sm:w-[50%] h-[200px] bg-gray-700 p-2 flex items-center justify-center rounded cursor-pointer bg-[length:100%] bg-center bg-no-repeat drop-shadow-[0px_1px_2px_#030712] transition-all duration-300">
      <span id="origin-dimensions" class="flex bg-gray-700 p-2 rounded-md font-bold text-center">PLEASE SELECT AN IMAGE TO RESIZE</span>
      <input type="file" id="img" class="hidden" />
    </label>

    <!--FORM-->
    <form id="img-form" class="w-full flex-col items-center justify-center sm:w-[80%] mx-auto my-6 hidden">
      <label class="w-full flex">
        <input type="text" placeholder="New width" required id="width" class="border-none bg-gray-700 p-2 w-[90%] sm:w-[70%] h-[50px] text-gray-200 rounded mx-auto outline-none text-lg drop-shadow-[0px_1px_2px_#030712]">
      </label>
  
      <label class="w-full flex mt-6">
        <input type="text" placeholder="New height" required
        id="height" class="border-none bg-gray-700 p-2 w-[90%] sm:w-[70%] h-[50px] text-gray-200 rounded mx-auto outline-none text-lg drop-shadow-[0px_1px_2px_#030712]">
      </label>
      <!-- export const RE_DIGIT = new RegExp(/^\d+$/); -->
      <button title="Fill out both width and height" id="change-dimensions" class="relative w-[80%] sm:w-[60%] h-[50px] mt-6 flex items-center justify-center bg-gray-700 p-2 text-gray-200 rounded mx-auto text-lg drop-shadow-[0px_1px_2px_#030712] cursor-not-allowed">Resize</button>
      <!-- hover:drop-shadow-[0px_0px_0px_#030712] hover:top-1 -->
    </form>

    <div id="file-info" class="w-full mt-6 hidden flex-col px-2 gap-4">
      <p class="w-[95%] mx-auto">
        <span class="bg-gray-600/50 p-1 px-2 rounded drop-shadow-[0px_1px_2px_#030712]">Filename:</span>
        <strong id="filename"></strong>
      </p>

      <p class="w-[95%] mx-auto break-words">
        <span class="bg-gray-600/50 p-1 px-2 rounded drop-shadow-[0px_1px_2px_#030712]">Output Folder:</span>
        <strong id="output-path"></strong>
      </p>

    </div>
  </div>

  <!-- loader -->
  <div class="loader fixed top-0 left-0 w-full h-full z-50 hidden items-center justify-center bg-gray-900/60">
    <p class="text-5xl text-gray-100 font-bold animate-pulse flex flex-col text-center">
      <span>Resizing...</span>
      <span>Please wait!</span>
    </p>
  </div>
</body>

</html>